{
    border: solid 1px;
    border-color: orange;
}
p{
 text-indent: 25px;
}
.main-news{
    display: flex;
    justify.content: flex-start;
}
.news-center{
    display: flex;
    flex-direction: column;
    justify.content: center;
    margin-left: 30px;
    border: solid 1px;
    border-color: gray;
}
.media-img{
    width: 180px;
    height: 90px;
}
.media{
    display: flex;
    justify.content: center;
    padding: 10px;
    margin: 20px;
    outline: 1px solid #ebebeb;
    box-sizing: border-box;
}
.media-url{
    color: inherit;
}
.media-text-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.media-img-container{
    padding: 10px;
}
.media-title{
    font-size: 20px;
}
.main-news{
    margin-left: 200px;
    margin-right: 200px;
}
.iconka{
    padding: 7px;
    margin: 1px;
}
.main-h{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.atticle-main-container{
    display: flex;
    justify.content: center;
    flex-direction: column;
    margin-left: 90px;
    margin-right:90px;
    margin-top: 60px;
    margin-bottom:60px;
}
.aticle-img{
    width: 845px;
    height: 488px;
    margin: 40px;
    border: 10px solid #fff;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
}
.atticle-h{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    font-size: 40px;
}
.atticle-p{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    font-size: 25px;
    line-height: 60px;
}
.main-left-ul{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;;
}
.media-left{
    margin: 20px;
    box-sizing: border-box;
}
.news-left{
    border: solid 1px;
    border-color: gray;
}