{% extends 'base.html' %}

{% block title %}
О сайте
{% endblock %}

{% block header %}
        <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="/faq" class="nav-link">FAQ</a></li>
        <li class="nav-item"><a href="/about" class="nav-link active">О сайте</a></li>
{% endblock %}

{% block body %}
<div class="about-main-container">
        <h2 class="atticle-h"><b>О сайте</b></h2>
        <div class="about-main-text">
                <p class="atticle-p">Мой сайт - это итоговый проект, который должны сдать в конце обучения все обучающиеся детского технопарка <a href="https://kvantorium32.ru/">"КВАНТОРИУМ"</a> города Брянска по направлению IT. Я решил сделать именно новостной сайт, потому что эта идея мне понравилась и показалась самой актуальной, ведь всем нужны новости.</p>
                <img src="https://sun9-65.userapi.com/impg/VfOuLEoxsbBS3CzL0gxJamj8SaMfeiAs9FqQdg/xYKVzwwe0FI.jpg?size=1280x731&quality=96&sign=2db1fe288c475ae88a93a66b0d4a7642&type=album" class="aticle-img">
                <p class="atticle-p">В моем сайте используются такие языки программирования как: python, html, css. Мой проект есть на <a href="https://github.com/Bebrak/flaskNewsWebSite">GitHub</a> и доступен каждому. Новости я беру с сайта <a href="https://www.bragazeta.ru/?amp">"БРЯНСКИЕ НОВОСТИ"</a> с помощью библиотеки "BeautifulSoup4", которая позволяет парсить данные сайта. После парсинга данные добавляются в базу данных, чтобы затем быть использованными в моем сайте. Я планирую и дальше развиваться в этом направлении.</p>
                <img src="https://www.goodbilisim.com/cnr/uploads/c76b58ce9e26e0f7f0dc8df9fdd5b1eb.jpg" class="aticle-img">
        </div>
</div>
{% endblock %}