<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="Брянск, новость, новинка, Брянская область, сенсация, новый, актуальный">
    <meta name="description" content="Свежие и актуальные новости Брянска о спорте, культуре, политике и общественной жизни.">
    <link type="text/css" href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet"/>
    <link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet"/>
    <link rel="icon" href="https://prixoxo.ru/uploads/posts/2022-05/prixoxo.ru_kartinki-i-foto-gerba-brjanska-3.png">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <nav class="navbar navbar-expand-md fixed-top bg-green">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none hovered">
                <img class="iconka" src="https://prixoxo.ru/uploads/posts/2022-05/prixoxo.ru_kartinki-i-foto-gerba-brjanska-3.png" height="55px" width="50px" />
                <span class="fs-4">Новости Брянска</span>
            </a>

            <ul class="nav nav-pills hovered">
                {% block header %}{% endblock %}
            </ul>
        </nav>
    </header>
  </div>
<main>
  {% block body %}{% endblock %}
</main>
<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://vk.com/kvantorium32" class="nav-link px-2 text-body-secondary"><img class="icon" src="https://avatanplus.com/files/resources/original/5c4d6a835123b1688e681104.png" height="55px" width="50px" /></a></li>
      <li class="nav-item"><a href="https://ok.ru/profile/574477990745" class="nav-link px-2 text-body-secondary"><img class="icon" src="https://avatars.mds.yandex.net/i?id=883895a2cfc15be53e3fa2db5555075f743a4217-9144721-images-thumbs&n=13" height="55px" width="50px" /></a></li>
      <li class="nav-item"><a href="https://kvantorium32.ru/" class="nav-link px-2 text-body-secondary"><img class="icon" src="https://cdn2.iconfinder.com/data/icons/web-technology-outline/100/outline_web_globe_mouse_cursor_www-1024.png" height="55px" width="50px" /></a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2023 Бряская область, Брянск</p>
  </footer>
</div>
</body>
</html>