<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet"/>
    <link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img class="icon" src="http://cdn.monetnik.ru/storage/blog/esab8jexyw/2019-11-262.800.jpg" height="55px" width="50px" />
        <span class="fs-4">Новости Брянска</span>
      </a>

      <ul class="nav nav-pills">
        {% block header %}{% endblock %}
      </ul>
    </header>
  </div>
  {% block body %}{% endblock %}
<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Главная</a></li>
      <li class="nav-item"><a href="/faq" class="nav-link px-2 text-body-secondary">FAQ</a></li>
      <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-secondary">О сайте</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2023 Бряская область, Брянск</p>
  </footer>
</div>
</body>
</html>