{% extends 'base.html' %}

{% block title %}
Новости Брянска | Свежие новости
{% endblock %}

{% block header %}
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="/faq" class="nav-link hovered">FAQ</a></li>
        <li class="nav-item"><a href="/about" class="nav-link hovered">О сайте</a></li>
{% endblock %}

{% block body %}

<div class="main-news">
    <div class="news-lefter">
        <div class="news-up">
            <h2 class="main-h"> Выбор редактора </h2>
            {% for n in news_up %}
                            <a href="{{ url_for('showNews', id_news=n.id) }}" class="media-url" >
                                <div class="media-up-text">
                                    <img class="media-img-left" src="{{ n.news_img }}">
                                    <div class="media-text-container-up">
                                        <p class="media-title-up" ><b>{{ n.news_title }}</b></p>
                                        <p class="media-small-up">{{ n.text_small }}</p>
                                    </div>
                                </div>
                            </a>
            {% endfor %}
        </div>
        <div class="news-left">
            <h2 class="main-h"> Интересное </h2>
            <ul>
                <div class="main-left-ul">
                    {% for n in news_left %}
                    <li class="media-left">
                        <div>
                            <a href="{{ url_for('showNews', id_news=n.id) }}" class="media-url" >
                                <p class="media-title" ><b>{{ n.news_title }}</b></p>
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                </div>
            </ul>
        </div>
    </div>
    <div class="news-center">
        <h2 class="main-h"> Свежие новости </h2>
        {% for n in news %}
            <a href="{{ url_for('showNews', id_news=n.id) }}" class="media-url" >
                <div class="media">
                    <div class="media-img-container">
                        <img class="media-img" src="{{ n.news_img }}">
                    </div>
                    <div class="media-text-container">
                        <p class="media-title" ><b>{{ n.news_title }}</b></p>
                        <p class="media-small">{{ n.text_small }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}